<div class="block-content">
    <div class="min-h-screen flex relative lg:static surface-ground">
        <!-- Side Menu -->
        <app-sidemenu></app-sidemenu>
        <div class="min-h-screen flex flex-column relative flex-auto">
            <!-- Top menu -->
            <app-topmenu></app-topmenu>
            <div class="p-5 flex flex-column flex-auto">
                <div class="flex-auto"> <!-- border-2 border-dashed surface-border border-round surface-section -->
                    <!-- Content goes here-->
                    <div *ngIf="loading">
                        <p-progressSpinner></p-progressSpinner>
                    </div>
                    <div *ngIf="selectedUnit != null">
                        <p-card header="{{selectedUnit?.name}}" subheader="{{selectedUnit.creationDate | date:'dd/MM/yyyy'}}">
                            <p-chip label="{{selectedUnit.status.name}}"></p-chip>
                        </p-card>
                        <div class="grid mt-2">
                            <div class="col-9">
                                <p-card header="Projects">
                                    <ul class="list-none p-0 m-0">
                                        <li *ngFor="let project of projects" class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4 fadein animation-duration-1000">
                                            <div class="flex">
                                                <i class="pi pi-folder mr-3"></i>
                                                <div class="mr-0 md:mr-8">
                                                    <span class="block text-900 font-medium mb-1"><a href="project/{{project.id}}" style="text-decoration: none;" class="cursor-pointer text-primary">{{ project.name}}</a></span>
                                                    <div class="text-600">{{project.creationDate | date:'dd/MM/yyyy'}}</div>
                                                </div>
                                            </div>
                                            <div class="mt-2 md:mt-0 flex flex-nowrap">
                                                <p-button icon="pi pi-arrow-up-right" (onClick)="openProject(project.id)"></p-button>
                                            </div>
                                            
                                        </li>

                                    </ul>
                                </p-card>
                            </div>
                            <div class="col-3">
                                <p-menu [model]="projectMenuItems" styleClass="w-full border-none" />
                            </div>
                        </div>
                        

                        <!-- Dialogs -->
                        <p-sidebar [(visible)]="createProjectDialogVisible" position="right" styleClass="w-6">
                            <ng-template pTemplate="header">
                                <span class="font-semibold text-xl">Create Project</span>
                            </ng-template>
                            <span class="p-text-secondary block mb-5">Create project for unit: {{selectedUnit.name}}</span>
                            <form [formGroup]="projectCreateForm" (ngSubmit)="submitProjectCreate()">
                                <div class="flex align-items-center gap-3 mb-3">
                                    <label for="projectName" class="font-semibold w-6rem">Name</label>
                                    <input pInputText id="projectName" formControlName="projectName" class="flex-auto" [required]="true"/>
                                </div>
                                <div class="flex align-items-center gap-3 mb-3">
                                    <label for="projectdesc" class="font-semibold w-6rem">Description</label>
                                    <textarea 
                                        id="projectdesc"
                                        rows="5" 
                                        cols="30"  
                                        pInputTextarea 
                                        formControlName="projectDesc" class="flex-auto">
                                    </textarea>
                                </div>
                                <!--
                                <div class="flex align-items-center gap-3 mb-3">
                                    <label for="projectstatus" class="font-semibold w-6rem">Status</label>
                                    <p-dropdown 
                                        formControlName="projectStatus" 
                                        [options]="statuses"
                                        optionLabel="name"
                                        placeholder="Select a status" />
                                </div>
                            -->
                                <div class="flex justify-content-end gap-2">
                                    <p-button label="Cancel" severity="secondary" (onClick)="createProjectDialogVisible = false" />
                                    <p-button type="submit" label="Save" />
                                </div>
                            </form>
                        </p-sidebar>


                        <p-dialog header="Edit Unit" [modal]="true" [(visible)]="editUnitDialogVisible" [style]="{ width: '25rem' }">
                            <form [formGroup]="unitUpdateForm" (ngSubmit)="submitUnitUpdate()">
                                <span class="p-text-secondary block mb-5">Update Unit information.</span>
                                <div class="flex align-items-center gap-3 mb-3">
                                    <label for="unitname" class="font-semibold w-6rem">Name</label>
                                    <input pInputText id="unitname" formControlName="unitName" class="flex-auto" />
                                </div>
                                <div class="flex justify-content-end gap-2">
                                    <p-button label="Cancel" severity="secondary" (onClick)="editUnitDialogVisible = false" />
                                    <p-button type="submit" label="Save" />
                                </div>

                            </form>
                        </p-dialog>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>


<!-- https://blocks.primeng.org/#/application/sidebarlayout -->
<!--<h1>Unit: {{ unit?.name }}</h1>-->

<!--
<div class="sb-page">
    <div class="sb-left-menu">
        left menu
    </div>
    <div class="sb-content">

        <div *ngIf="loading">
            <img src="spinner.gif" />
        </div>
        
        <div *ngIf="selectedUnit != null">
            <p-panel [toggleable]="true" >
                <ng-template pTemplate="header">
                    <span class="font-bold">{{selectedUnit?.name}}</span>
                </ng-template>
                <ng-template pTemplate="icons">
                    <button class="p-panel-header-icon p-link mr-2" (click)="menu.toggle($event)">
                        <span class="pi pi-cog"></span>
                    </button>
                    <p-menu #menu id="config_menu"  [popup]="true" />
                </ng-template>
                <p class="m-0">
                    <span class="date-creation">{{selectedUnit.creationDate | date:'dd/MM/yyyy'}}</span><br/>
                    <span class="{{selectedUnit.status.name | statusColor}}">{{selectedUnit.status.name}}</span>
                    <br/><br/>
                    <span class="break-line"></span>
                    <p>Click on the element below to open the side navigation menu, and push this content to the right. Or test</p>
                
            </p-panel>
        </div>

    </div>
</div>
-->

