<div class="main-div">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p-card header="Amadeus" subheader="Login" [style]="{ width: '25rem' }">
            
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-at"></i>
                </p-inputGroupAddon>
                <input pInputText id="email" name="login" type="email" formControlName="login" placeholder="Email" class="w-full" [autofocus]="true">
            </p-inputGroup>
            <br/>
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-lock"></i>
                </p-inputGroupAddon>
                <input pInputText id="password" name="password" type="password" formControlName="password" class="w-full">
            </p-inputGroup>

            <ng-template pTemplate="footer">
                <div class="flex justify-content-end gap-2">
                    <p-button type="submit" label="Login" icon="pi pi-play" iconPos="right" [disabled]="!loginForm.valid"></p-button>
                </div>
            </ng-template>
        
        </p-card>
    </form>
</div>