<div class="block-content">
    <div class="min-h-screen flex relative lg:static surface-ground">
        <!-- Side Menu -->
        <app-sidemenu></app-sidemenu>
        <div class="min-h-screen flex flex-column relative flex-auto">
            <!-- Top menu -->
            <app-topmenu></app-topmenu>
            <div class="p-5 flex flex-column flex-auto">
                <div class="flex-auto"> <!-- border-2 border-dashed surface-border border-round surface-section -->
                    <!-- Content goes here-->
                    
                </div>
            </div>
        </div>
        
    </div>

</div>