/* You can add global styles to this file, and also import other style files */
body{
    // Notion: #2F3438, #373C3F, # 3F4448
    background-color: #1F2024;
    color: #D4D4D4;
    /*font-family: 'Fredoka';*/
    font-family: 'Josefin Sans', sans-serif;
}

.unlighted{
    color: #7F7F7F;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
